@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: url("/images/hero/bg-person-2.png"),
      url("/images/hero/bg-person-1.png"), url("/images/hero/hero-bg.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right 10px top 126px, right 83px top 150px,
      right 0 top 0;
    background-size: 150px, 163px, 300px 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1511px) {
  .hero {
    background-image: url("/images/hero/bg-person-2.png"),
      url("/images/hero/bg-person-1.png"), url("/images/hero/hero-bg.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 467px 130px, 289px 155px, 268px 0;
    background-size: 240px, 275px, 500px 500px;
  }
}

@media screen and (min-width: 1512px) {
  .hero {
    background-image: url("/images/hero/bg-person-2.png"),
      url("/images/hero/bg-person-1.png"), url("/images/hero/hero-bg.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 988px 165px, 688px 201px, 292px 0;
  }
}

.about {
  position: relative;
  background-image: url("/images/about-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 300px;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .about {
    background-position: right calc(50% + 303px) top 0;
    background-size: 85%;
  }

  .about::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    width: 50vw;
    height: 100%;
    background: linear-gradient(90deg, #c92c93, #c92c93);
    z-index: -1;
    transform: translateX(100%);
  }
}

@media screen and (min-width: 1512px) {
  .about {
    background-position: right calc(50% + 427px) top 0;
    background-size: 870px 651px;
    overflow-x: hidden;
  }
}

.swiper-slide {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    url("/images/case-1.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.swiper-pagination {
  bottom: 68px !important;
  left: 60px !important;
  width: 172px !important;
}
.swiper-pagination-bullet {
  width: 21px !important;
  height: 21px !important;
  margin-right: 9px !important;
  background-color: #fff !important;
  opacity: 0.3 !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
  opacity: 1 !important;
}

.mySwiper {
  position: absolute !important;
  @apply left-1/2 -translate-x-1/2;
}

.insights {
  background-image: url("/images/insights/insights-bg.png");
  background-repeat: no-repeat;
  background-position: right 0px bottom 0px;
}

@media screen and (min-width: 1512px) {
  .insights {
    background-image: url("/images/insights/insights-bg.png");
    background-repeat: no-repeat;
    background-position: 338px 475px;
  }
}

.icon-28 {
  width: 43.3px;
  height: 43.3px;
  left: 49px;
  top: -8px;
}

.icon-22 {
  width: 43.3px;
  height: 43.3px;
  left: 58px;
  top: 0px;
}
.icon-1650 {
  width: 78px;
  height: 43.3px;
  left: 52px;
  top: -9px;
}
.icon-25 {
  width: 43.3px;
  height: 43.3px;
  left: 56px;
  top: -8px;
}

.icon-28::after,
.icon-22::after,
.icon-1650::after,
.icon-25::after {
  content: "";
  z-index: -1;
  border-radius: 2px;
  @apply w-full h-full top-0 left-0 absolute bg-secondBdColour;
}

.productivity {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/images/productivity-bg.png");
  background-repeat: no-repeat;
  background-size: auto, 1522px;
}

.text-stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.footer-stroke::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 73px;
  @apply bg-strokeColour;
}

.footer-bg {
  background-image: url("/images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: -457px 165px;
}
