@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

.hero {
  background-image: url("../public/images/hero/bg-person-2.png"),
    url("../public/images/hero/bg-person-1.png"),
    url("../public/images/hero/hero-bg.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 995px 165px, 705px 200px, 298px 0;
}
