@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

.hero {
  background-image: url("/images/hero/bg-person-2.png"),
    url("/images/hero/bg-person-1.png"), url("/images/hero/hero-bg.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 988px 165px, 688px 201px, 292px 0;
}

.about {
  background-image: url("/images/about-bg.png");
  background-repeat: no-repeat;
  background-position: right calc(50% + 427px) top 0;
  background-size: 870px 651px;
}
